/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Cambiar la fuente globalmente */
body {
  font-family: 'Cinzel', serif; /* Fuente Cinzel */
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Fondo de la página */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('imagenes/inicioimg.jpeg'); /* Ruta de la imagen de fondo */
  background-size: cover;
  background-position: left;
  opacity: 0.5; /* Controla la opacidad de la imagen */
  z-index: -1; /* Asegura que la imagen esté detrás de los elementos */
}

/* Header */
.header {
    background-color: #a96d44;
    color: white;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.menu {
  display: flex;
  align-items: center;
  gap: 15px;
}

.menu ul {
    display: flex;
    list-style: none;
    gap: 15px;
    margin-top: -5px;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 1em;
}

.menu ul li a:hover {
  text-decoration: underline;
}

/* Estilo común para todos los enlaces */
a {
  display: inline-block;
  color: #7a4a2b; /* Color de texto igual al de los botones */
  padding: 10px 15px;
  font-size: 1em;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease; /* Transición suave */
  font-family: 'Cinzel', serif; /* Fuente igual a la de los botones */
}

a:hover {
  background-color: transparent; /* Sin fondo */
  color: #c4a284; /* Color de texto en hover */
}

/* Dropdown Menu */
#explore-btn {
  background-color: #7a4a2b;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Cinzel', serif;
}

#explore-btn:hover {
  background-color: #c4a284;
}

#explore-menu {
  position: absolute;
  background-color: #7a4a2b;
  list-style: none;
  padding: 10px 0;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: none; /* Hidden by default */
  z-index: 10;
}

#explore-menu li {
  padding: 0;
}

#explore-menu li a {
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}

#explore-menu li a:hover {
  background-color: #c4a284;
  border-radius: 5px;
}

/* Main Section */
.main {
  flex: 1;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.acciones {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.acciones button {
  background-color: #a96d44;
  color: white;
  border: none;
  padding: 15px;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
}

.acciones button:hover {
  background-color: #c4a284;
}

/* Footer */
.footer {
  background-color: #3e3e3e;
  color: white;
  text-align: center;
  padding: 20px;
}

.footer ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.footer ul li a {
  text-decoration: none;
  color: white;
}

.footer ul li a:hover {
  text-decoration: underline;
}

/* Estilo para el contenedor de la barra superior */
.top-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  padding-right: 20px;
}

/* Estilo para el selector de idiomas */
.language-selector {
    font-family: 'Cinzel', serif;
    border: 2px solid #a96d44; /* Bordes color similar al header */
    color: #a96d44; /* Color de la fuente */
    padding: 10px 15px;
    font-size: 15em;
    border-radius: 5px;
    cursor: pointer;
    appearance: none; /* Para quitar el estilo predeterminado de los navegadores */
    outline: none; /* Elimina el contorno al hacer clic */
    transition: all 0.3s ease; /* Transición suave para interacciones */
}

.language-selector:focus {
  border-color: #c4a284; /* Cambia el color del borde cuando está enfocado */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Añade sombra suave al enfoque */
}

/* Estilo para las opciones dentro del select */
.language-selector option {
  background-color: #fff;
  color: #a96d44;
  padding: 10px;
  font-size: 1em;
}

.language-selector option:hover {
  background-color: #c4a284; /* Color de fondo al pasar el mouse sobre la opción */
  color: white; /* Cambia el color del texto de la opción al pasar el mouse */
}

/* Imagen de fondo */
.fondo img {
    width: 121%;
    height: auto;
    opacity: 0.51;
    display: table;
    min-width: 0px;
}

/* Estilo para el menú lateral */
.menu-lateral {
  position: absolute;
  top: 20%;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-lateral button {
  background-color: #5c3d2e;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

/* Estilo para las acciones en la parte inferior */
.acciones {
  position: absolute;
  bottom: 20%;
  right: 10%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.acciones button {
  background-color: #a65e35;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Main Section */
.main {
  flex: 1;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Acciones */
.acciones {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.acciones button {
  background-color: #a96d44;
  color: white;
  border: none;
  padding: 15px;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
}

.acciones button:hover {
  background-color: #c4a284;
}

/* Footer */
.footer {
  background-color: #3e3e3e;
  color: white;
  text-align: center;
  padding: 20px;
}

.footer ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.footer ul li a {
  text-decoration: none;
  color: white;
}

.footer ul li a:hover {
  text-decoration: underline;
}

/* Selector de idioma */
.language-selector {
  background-color: #fff;
  font-family: 'Cinzel', serif;
  border: 2px solid #a96d44; /* Bordes color similar al header */
  color: #a96d44; /* Color de la fuente */
  padding: 10px 15px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  appearance: none; /* Para quitar el estilo predeterminado de los navegadores */
  outline: none; /* Elimina el contorno al hacer clic */
  transition: all 0.3s ease; /* Transición suave para interacciones */
}

.language-selector:focus {
    /* [disabled]border-color: #845328; */ /* Cambia el color del borde cuando está enfocado */
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
    color: #5B2B00;
}

.language-selector option {
  background-color: #fff;
  color: #a96d44;
  padding: 10px;
  font-size: 1em;
}

/* Animación para los botones */
.acciones button,
#explore-btn,
.language-selector {
  animation: fadeInUp 0.5s ease-out; /* Aplica la animación a los botones */
}

/* Animación de los botones */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
